.header{
    height: 150px;
}

.shadow{
    width: 50%;
    margin: auto;
    margin-top:40px;
}
.btn-add{
    width: 100px;
    height: 36px;
}
.btl-body{
    width: 50%;
    margin: auto;
}
.footer{
    height: 200px;
}